version: "3.9"

services:
  mongo:
    image: mongo:8.2-noble
    container_name: mongo
    environment:
    - MONGO_INITDB_ROOT_USERNAME=admin
    - MONGO_INITDB_ROOT_PASSWORD=admin123
    restart: always
    volumes:
      - mongo_data:/data/db
    networks:
      - app-net

  backend:
    image: venkat14489/crud-backend:latest
    container_name: backend
    restart: always
    environment:
      - MONGO_URI=mongodb://admin:admin123@mongo:27017/dd_db?authSource=admin
      - PORT=8080
    depends_on:
      - mongo
    networks:
      - app-net

  frontend:
    image: venkat14489/crud-frontend:latest
    container_name: frontend
    restart: always
    depends_on:
      - backend
    networks:
      - app-net

  nginx:
    image: nginx:alpine
    container_name: nginx
    restart: always
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app-net

volumes:
  mongo_data:

networks:
  app-net:
    driver: bridge

