name: CI/CD Pipeline 
on:
  push:
    branches: [ "main" ]
    paths-ignore:
      - 'README.md'
jobs:
  deploy-on-vm:
    runs-on: ubuntu-latest
    steps:
      - name: Run build & deploy on VM via SSH
        uses: appleboy/ssh-action@v1.2.3
        with:
          host: ${{ secrets.VM_HOST }}
          username: ${{ secrets.VM_USERNAME }}
          key: ${{ secrets.VM_SSH_KEY }}

          # These env vars will be available INSIDE the SSH session
          envs: DOCKER_USERNAME,DOCKER_PASSWORD

          script: |
            set -e  # stop on first error

            # 1. Variables
            REPO_URL="https://github.com/${{ github.repository }}.git"
            APP_DIR="$HOME/crud-dd-task-mean-app"   # folder name 

            echo "Using app directory: $APP_DIR"

            # 2. Clone or update repo
            if [ ! -d "$APP_DIR/.git" ]; then
              echo "Cloning repository..."
              git clone "$REPO_URL" "$APP_DIR"
            else
              echo "Pulling latest changes..."
              cd "$APP_DIR"
              git pull origin main
            fi

            cd "$APP_DIR"

            # 3. Docker login
            echo "Logging in to Docker Hub..."
            echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin

            # 4. Build & push images (on VM)
            echo "Building Backend image..."
            docker build -t "$DOCKER_USERNAME/crud-backend:latest" ./backend
            docker push "$DOCKER_USERNAME/crud-backend:latest"

            echo "Building Frontend image..."
            docker build -t "$DOCKER_USERNAME/crud-frontend:latest" ./frontend
            docker push "$DOCKER_USERNAME/crud-frontend:latest"

            # 5. Deploy using docker-compose.yml present on the VM
            echo "Deploying with docker-compose..."

            # Stop existing containers if compose file exists
            if [ -f docker-compose.yml ]; then
              echo "Stopping existing containers..."
              docker-compose down || true
            fi

            echo "Pulling latest images from Docker Hub..."
            docker compose pull || docker-compose pull

            echo "Starting services..."
            docker-compose up -d

             echo "Cleaning old unused images..."
            docker image prune -f

            echo "Removing untagged <none> images..."
            if docker images | grep -q "<none>"; then
              docker rmi $(docker images -f "dangling=true" -q) -f || true
            else
              echo "No dangling images found."
            fi

            echo "Cleaning unused containers & volumes..."
            docker container prune -f
            docker volume prune -f

        env:
          DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
          DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
